:root {
	/* fonts */
	--font1: 'Caveat';
	--font2: 'Indie Flower';
	--font3: 'Open Sans';
	--font4: 'Quicksand';
	--font5: 'Marck Script';
	--font6: 'Shadows Into Light', cursive;
}

* {
	margin: 0;
	border: none;
	outline: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
		sans-serif;
}

@media only screen and (max-width: 800px) {
	* {
		cursor: default !important;
	}
}

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border: black 4px solid;
	border-radius: 100vw;
}

::-webkit-scrollbar-track {
	background-color: black;
}
