.header {

}

.subHeading {
    text-align: center;
}

.mainHeading {
    margin-top: 350px;
    text-align: center;
}

.headings {
    color: aliceblue;
}

.mainBody {
    background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("/images/bg.jpg");
}

.signIn {
    color: aliceblue;
    background-color: red;
    border-radius: 3px;
    display: flex;
    position: absolute;
    top: 20px;
    right: 10px;
}